@page "/"
@using LemonadeStand.Components.Cards
@using LemonadeStand.Components.Forms
@using Microsoft.Extensions.Logging


<PageTitle>Lemonade Stand</PageTitle>

    <h1>Lemonade Stand!</h1> 
        
    <div class="card-group">
            <AppleCard> </AppleCard>
            <WatermelonCard></WatermelonCard>
            <OrangeCard></OrangeCard>
    </div>
    <div>
    
    <OrderForm></OrderForm>
    </div>
